
.store-title {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding-left: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 54%;
    font-size: x-large;
}

#bank-container {
    width: 12%;
    background-color: rgb(239, 236, 236);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 60px;
    border-radius: 10px;
}

.container-title {
    font-family: sans-serif, Arial, Helvetica;
    font-size: large;
    margin-top: 6px;
}

#balance {
    font-family: sans-serif, Arial, Helvetica;
    float: right;
}

#loan-amount {
    font-family: sans-serif, Arial, Helvetica;
    float: right;
}

#loan-button {
    background-color: rgb(46, 209, 122);
    color: rgb(0, 0, 0);
    border: rgb(46, 209, 122);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
}

#work-container {
    background-color: rgb(239, 236, 236);
    width: 12%;
    padding: 15px;
    margin-left: 40px;
    border-radius: 10px;
}

#bank-button {
    background-color: rgb(224, 230, 69);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-right: 24px;
    padding-left: 24px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
}

#work-button {
    background-color: rgb(79, 110, 222);
    color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-right: 24px;
    padding-left: 24px;
    cursor: pointer;
}

#salary-amount {
    font-family: sans-serif, Arial, Helvetica;
    float: right;
}

#containers {
    display: flex;
}

#repay-loan-button {
    background-color: rgb(46, 209, 122);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-left: 30px;
}

#laptop-selection-box {
    background-color: rgb(239, 236, 236);
    width: 12%;
    padding: 15px;
    margin-left: 40px;
    border-radius: 10px;
}

#laptops {
    border-radius: 4px;
    padding: 2px;
    border: thin solid rgb(192, 192, 192);
}

#pc-info-container {
    background-color: rgb(239, 236, 236);
    width: 44%;
    padding: 10px;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 10px;
    height: 180px;
}

#laptop-price {
    padding-left: 50px;
    font-size: large;
    font-weight: bold;

}

#laptop-name {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#laptop-desc {
    padding-left: 80px;
    padding-right: 90px;
}

#buy-button {
    background-color: rgb(86, 174, 233);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 40px;
    cursor: pointer;
    white-space: nowrap;
}

#align-items {
    display: flex;
    flex-direction: row;
}

#pc-image {
    width: 180px;
    height: 180px;
    padding-left: 15px;
    padding-bottom: 30px;
    float: left;
    box-sizing: border-box;
}

.specs {
    overflow: scroll;
    height: 60px;
    font-size: small;
}

.feature {
    margin: 0;
}

.features-title {
    margin-bottom: 2px;
    font-size: medium;
}

.price-button-container {
    margin-top: 30px;
}